nav{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
h1{
    text-align: center;
        font-size: 50px;
}
#tenisnike{
    border: #ffffff00;
    border: 1px solid;
    border-radius: 10px;
    transition: 1s;
    position: absolute;
    top: 25%;
    left: 2%;
    z-index: 2;
    cursor: pointer;
}
.produto1{
   width: 550px;
    height: 490px;
    transition: 0.5s;
    transition: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(119.5%, 05%);
    z-index: 2;
}
#nome1{
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 1.5%;
    z-index: -1;
}
#preço1{
    font-size: 30px;
    position: absolute;
    top: 57%;
    left: 6%;
    transition: 10ms;
    z-index: -1;
}
#alexa{
    border: #ffffff00;
    border: 1px solid;
    border-radius: 10px;
    transition: 1s;
    position: absolute;
    top: 25%;
    left: 30%;
    cursor: pointer;
    z-index: 1;
}
.produto2{
    width: 540px;
    height: 490px;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(22.5%, 4.9%);
    z-index: 2;
}
#nome2{
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 25%;
    z-index: -1;
}
#preço2{
    font-size: 30px;
    position: absolute;
    top: 57%;
    left: 34.7%;
    transition: 10ms;
    z-index: -1;
}
